# Initialization and Setup

In [38]:
import pandas as pd
import numpy as np


df = pd.read_csv("./The Cannabis Depot-2021-07-16-activity-export.csv", dtype={'Cost': 'str'}, low_memory=False)
df["Transaction Date"] = pd.to_datetime(df["Transaction Date"], format='%Y-%m-%d %H:%M')

# Data Columns

These are the data points available that we can work with

In [39]:
df.dtypes

Green Bits ID                      object
Transaction Date           datetime64[ns]
Transaction ID                     object
Transaction Type                   object
Product Name                       object
SKU                                object
Category Name                      object
Pricing Tier                       object
Product Type                       object
Concentrate Type                   object
Product Weight (Actual)            object
Quantity                          float64
Cost                               object
Amount                            float64
Account Name                       object
Account Type                       object
Account Sub Type                   object
Discount Name                      object
Device Name                        object
Vendor                             object
Cashier Username                   object
Cashier First Name                 object
Cashier Last Name                  object
Cashier Full Name                 float64
Customer First Name                object
Customer Last Name                 object
Customer Full Name                 object
Customer Email                     object
Customer Phone                     object
Customer Birth Date                object
Drawer Opened At                   object
Drawer Closed At                   object
Unnamed: 32                       float64
Unnamed: 33                        object
dtype: object

# Highest Selling Budtenders

Sorted by Quanitity of Product Sold. "Amount" values need to be cleaned up, they currently include both debit and credit accounts.

In [47]:
df.groupby(["Cashier Username"]).sum().sort_values("Quantity", ascending=False)

                  Quantity        Amount  Cashier Full Name  Unnamed: 32
Cashier Username
dmseale             3004.0  1.209699e-12                0.0          0.0
jonwessel           2994.0  1.328715e-12                0.0          0.0
ashleygm            2950.0  1.149303e-12                0.0          0.0
aohmes              2949.0  8.566481e-13                0.0          0.0
rdhansen            2859.0  1.033840e-12                0.0          0.0
nik04               2767.0  1.493916e-12                0.0          0.0
mahlonp             2744.0  5.702105e-13                0.0          0.0
mmcclure            2611.0  1.540101e-12                0.0          0.0
stephont            2419.0  1.250111e-12                0.0          0.0
mattblum            2249.0  6.368239e-13                0.0          0.0
markstoke           2145.0  9.974244e-13                0.0          0.0
dwheat              2136.0  5.764278e-13                0.0          0.0
whitlatchj          2019.0  7.660539e-13                0.0          0.0
natalieb            2006.0  8.233414e-13                0.0          0.0
mposs               1909.0  5.773160e-13                0.0          0.0
ajevans             1871.0  6.830092e-13                0.0          0.0
leticia22           1865.0  9.792167e-13                0.0          0.0
mstyles             1832.0  3.410605e-13                0.0          0.0
lesquibel           1809.0  5.142553e-13                0.0          0.0
jeremyrs            1796.0  4.121148e-13                0.0          0.0
mcoupe              1737.0  6.818990e-13                0.0          0.0
libertis            1727.0  2.255973e-13                0.0          0.0
mrussom             1709.0  3.801404e-13                0.0          0.0
lopezr              1653.0  5.702105e-13                0.0          0.0
theresak            1639.0  7.305268e-13                0.0          0.0
darlah              1319.0  4.583001e-13                0.0          0.0
mlkane              1218.0  4.187761e-13                0.0          0.0
justinav             958.0  1.700862e-13                0.0          0.0
hannahtello          495.0  2.042810e-13                0.0          0.0
tiffe93               77.0  6.661338e-16                0.0          0.0
jenniferw              6.0 -4.440892e-16                0.0          0.0

# Best Selling Products
Best selling products over the period. By quantity of product sold.

In [37]:
df.groupby(["Product Name"]).sum().sort_values("Quantity", ascending=False)

,Quantity,Amount,Cashier Full Name,Unnamed: 32
Product Name,,,,
BFE | Sunshine Daydream,1187.0,-75896.83,0.0,0.0
CCR | Sour Banana,917.0,-54176.10,0.0,0.0
BFE | Banana Runtz,816.0,-45359.68,0.0,0.0
LEAN | Pre Roll |(I) PREZIDENTIAL KUSH,802.0,-4053.01,0.0,0.0
STEALTH | Purple Urkle - Pre-Roll |,794.0,-4078.14,0.0,0.0
...,...,...,...,...
WE | Shatter | (I) Original Glue,1.0,-20.00,0.0,0.0
GLAS | Purple Sunset,1.0,-0.01,0.0,0.0
Glass Pineapple Bong,1.0,-35.00,0.0,0.0
Mary's | Patch | CBD,1.0,-15.00,0.0,0.0
Alchemy | 1g AIO | (S) Gorilla Diesel,1.0,-60.00,0.0,0.0

# Summary
Breakdown of Sales Revenue and Tax Revenue by Type

In [8]:
df.groupby(["Account Name"]).sum().sort_values("Amount", ascending=False)

                    Quantity      Amount  Cashier Full Name  Unnamed: 32
Account Name
Cash                     0.0  1911094.48                0.0          0.0
Discounts                0.0   150307.15                0.0          0.0
Returns                -15.0      613.67                0.0          0.0
CO State Sales Tax       0.0     -595.21                0.0          0.0
Pueblo County Tax        0.0  -108685.85                0.0          0.0
CO State Tax             0.0  -229193.21                0.0          0.0
Sales                59487.0 -1723541.03                0.0          0.0

# Daily Breakdown

Daily gross sales amount, not incl. tax. Sorted by Sales Amount

In [22]:
df.index = df['Transaction Date']

#create df containing only Cash account transactions
sales_df = df[df['Account Name'] == 'Cash']


#df[(df['Account Name'] == 'CO State Sales Tax') & (df['Account Name'] == 'Pueblo County Tax') &  (df['Account Name'] == 'CO State Tax')]


#Sum by day and sort descending
sales_df.groupby(pd.Grouper(freq='D')).sum().sort_values("Amount", ascending=False)

                  Quantity    Amount  Cashier Full Name  Unnamed: 32
Transaction Date
2021-06-11             0.0  80138.57                0.0          0.0
2021-06-04             0.0  80087.84                0.0          0.0
2021-06-05             0.0  79272.38                0.0          0.0
2021-06-12             0.0  76583.64                0.0          0.0
2021-06-25             0.0  76207.55                0.0          0.0
2021-06-26             0.0  74514.21                0.0          0.0
2021-06-18             0.0  72889.03                0.0          0.0
2021-06-19             0.0  72788.00                0.0          0.0
2021-06-13             0.0  68973.63                0.0          0.0
2021-06-03             0.0  67726.97                0.0          0.0
2021-06-01             0.0  65145.33                0.0          0.0
2021-06-21             0.0  64608.23                0.0          0.0
2021-06-27             0.0  64090.17                0.0          0.0
2021-06-10             0.0  61931.40                0.0          0.0
2021-06-17             0.0  60828.14                0.0          0.0
2021-06-24             0.0  59714.68                0.0          0.0
2021-06-07             0.0  58120.33                0.0          0.0
2021-06-20             0.0  58001.10                0.0          0.0
2021-06-23             0.0  57693.07                0.0          0.0
2021-06-29             0.0  57618.82                0.0          0.0
2021-06-14             0.0  57247.64                0.0          0.0
2021-06-06             0.0  57203.15                0.0          0.0
2021-06-28             0.0  56561.04                0.0          0.0
2021-06-22             0.0  56375.96                0.0          0.0
2021-06-30             0.0  56123.23                0.0          0.0
2021-06-08             0.0  55846.91                0.0          0.0
2021-06-16             0.0  55780.81                0.0          0.0
2021-06-09             0.0  55666.34                0.0          0.0
2021-06-15             0.0  52963.98                0.0          0.0
2021-06-02             0.0  50392.33                0.0          0.0

# Total Gross Revenue over the Period

In [48]:
sales_df['Amount'].sum()

1911094.48